<div class="m-2">
  <h2>Players</h2>
  <ul>
    <li *ngFor="let user of (users$ | async); trackBy: getUserKey">
      <span [title]="user.id">
        {{user.userName}}
      </span>
      <span *ngIf="user.psychic" title="Psychic">
        📡
      </span>
      <span *ngIf="!user.online" title="offline">
        ⌛
      </span>
    </li>
  </ul>
</div>

<div class="history">
  <div>
    <p *ngIf="userId$ | async as myUser" title="myUser.id">{{myUser.userName}}</p>
    <div>
    </div>
    <h2>History</h2>
    <ul>
      <li *ngFor="let r of (history$ | async)" class="history-item">
        <p>
          {{r.start}} - {{r.end}}
        </p>
        <p>
          {{r.clue}} : {{r.score}}
        </p>
      </li>
    </ul>
  </div>
</div>