<div class="m-2">
  <p>User: <strong>{{ userId$ | async | slice: 0:8 }}</strong></p>
  <ng-container *ngIf="round$ | async as round">
    <p>Psychic: <strong>{{ round.teller | slice: 0:8 }}</strong></p>
  </ng-container>

  <div class="history">
    <h2>History</h2>
    <ul>
      <li *ngFor="let r of (history$ | async)" class="history-item">
        <p>
          {{r.start}} - {{r.end}}
        </p>
        <p>
          {{r.clue}} : {{r.score}}
        </p>
      </li>
    </ul>
  </div>
</div>