.btn {
  @apply bg-gray-400;
  @apply bg-blue-800;
  @apply px-4;
  @apply py-2;
  @apply rounded;
  @apply text-black;
  @apply text-blue-300;
  transition: 200ms;
}

.btn:hover {
  @apply bg-gray-500;
  @apply bg-blue-700;
}

.form-input {
  @apply border;
  @apply p-2;
  background-color: rgba(black, 0.2);
  border-color: rgba(black, 0.25);
  color: rgba(white, 0.7);
}
