<div class="wrapper">
  <div class="game">

    <div class="board">
      <div class="buttons decrease">
        <button class="button" (click)="moveNeedle(-1)">
          -1
        </button>

        <button class="button" (click)="moveNeedle(-2)">
          -2
        </button>

        <button class="button" (click)="moveNeedle(-5)">
          -5
        </button>
      </div>
      <div class="needle" [ngStyle]="{'transform': 'rotate(' + guess/200 + 'turn)'}">
      </div>
      <div class="guess">
        {{guess}}
      </div>

      <div class="buttons increase">
        <button class="button" (click)="moveNeedle(1)">
          +1
        </button>

        <button class="button" (click)="moveNeedle(2)">
          +2
        </button>

        <button class="button" (click)="moveNeedle(5)">
          +5
        </button>
      </div>
    </div>

    <div class="clues">
      <div class="clue low">
        Easy to kill
      </div>
      <div class="clue target">
        Lion
      </div>
      <div class="clue high">
        Hard to kill
      </div>
    </div>
  </div>

  <div class="sidebar">

  </div>
</div>