<div class="wrapper">
  <div class="game">

    <div class="board">
      <button class="button decrease" (click)="moveNeedle(-1)" [disabled]="saving">
        Less
      </button>
      <div class="needle">
        {{guess}}
      </div>
      <button class="button increase" (click)="moveNeedle(+1)" [disabled]="saving">
        More
      </button>
    </div>

    <div class="clues">
      <div class="clue low">
        Easy to kill
      </div>
      <div class="clue target">
        Lion
      </div>
      <div class="clue high">
        Hard to kill
      </div>
    </div>
  </div>

  <div class="sidebar">

  </div>
</div>