.wrapper {
    display: flex;
    height: calc(100vh - 20px);
}

.game {
    flex: 1;
    padding: 20px;
    position: relative;

    .board {
        width: 100%;
        height: calc(100% - 300px);
        position: relative;
    }

    .needle {
        width: 40%;
        height: 10px;
        background-color: lightslategray;
        position: absolute;
        bottom: 50px;
        left: 10%;
        transition: transform 0.3s;
        transform-origin: right;
    }

    .buttons {
        width: 100px;
        height: 50px;
        position: absolute;
        top: 20%;
    }

    .button {
        margin-top: 10px;
        width: 100%;
    }

    .guess {
        position: absolute;
        bottom: 10px;
        left: 40%;
        text-align: center;
        width: 20%;
    }

    .decrease {
        left: 20px;
    }

    .increase {
        right: 20px;
    }

    .clues {
        display: flex;
    }

    .clue {
        padding: 20px;
        text-align: center;
        flex: 20% 1;
    }

    .clue.target {
        border: 1px solid gray;
        border-radius: 10px;
        background-color: lightgreen;
        flex: 0;
        }
}

.sidebar {
    background-color: lightblue;
    width: 20%;
    max-width: 100px;
    height:100%;
}

