<div class="board__inner">
  <ng-container *ngIf="showGuessButtons$ | async">
    <div class="board__buttons board__buttons-decrease">
      <button class="board__button" (click)="moveNeedle(-1)">-1</button>
      <button class="board__button" (click)="moveNeedle(-2)">-2</button>
      <button class="board__button" (click)="moveNeedle(-5)">-5</button>
    </div>

    <div class="board__buttons board__buttons-increase">
      <button class="board__button" (click)="moveNeedle(1)">+1</button>
      <button class="board__button" (click)="moveNeedle(2)">+2</button>
      <button class="board__button" (click)="moveNeedle(5)">+5</button>
    </div>
  </ng-container>

  <form (ngSubmit)="sendClue($event)" *ngIf="showClueInput$ | async" autocomplete="off" class="ml-2">
    <div class="ml-1 mb-2">
      <label>Enter the Clue:</label>
    </div>

    <input class="form-input mx-1" name="clueInput" [(ngModel)]="clueInput" maxlength="20" minlength="1" type="text" />

    <button class="btn" type="submit" type="button" (click)="sendClue($event)">
      Send
    </button>
  </form>


  <div class="fan__wrapper" *ngIf="trueValueRotation$ | async as trueVal">
    <div class="fan__rotation" [ngStyle]="{ transform: 'rotate(' + (rotation$ | async) + 'turn)' }">
      <!-- [ngStyle]="{ transform: 'rotate(' + trueVal + 'turn)' }"-->
      <div class="fan__background">
        <div class="fan__one">
          <div class="fan__two">
            <div class="fan__three">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="board__needle" *ngIf="!(showClueInput$ | async)"></div>

  <!--[ngStyle]="{ transform: 'rotate(' + (rotation$ | async) + 'turn)' }"-->

  <div class="board__guess" *ngIf="!(showClueInput$ | async)">
    {{ guess$ | async }}
  </div>

  <div class="board__waiting" *ngIf="message$ | async as message">
    {{message}}
  </div>
  <app-clues [clues]="clues$ | async"></app-clues>

  <div class="board__score" *ngIf="(score$ | async)  as score">
    You won {{ score.value }} points!!!
  </div>

</div>