<div class="board__buttons board__buttons-decrease">
    <button class="board__button" (click)="moveNeedle(-1)">
        -1
    </button>

    <button class="board__button" (click)="moveNeedle(-2)">
        -2
    </button>

    <button class="board__button" (click)="moveNeedle(-5)">
        -5
    </button>
</div>

<div class="board__buttons board__buttons-increase">
    <button class="board__button" (click)="moveNeedle(1)">
        +1
    </button>

    <button class="board__button" (click)="moveNeedle(2)">
        +2
    </button>

    <button class="board__button" (click)="moveNeedle(5)">
        +5
    </button>
</div>

<div class="board__needle" [ngStyle]="{'transform': 'rotate(' + (rotation$ | async)  + 'turn)'}">
</div>
<div class="board__guess">
    {{guess$ | async}}
</div>
<app-clues></app-clues>