<div *ngIf="skipMessage$ | async as msg" class="actions__skip">
  <button (click)="toggleSkipRound()" [disabled]="throttled" *ngIf="!sendingSkipRound" class="btn actions__skip-btn">
    {{msg}}
  </button>
  <div class="skip__confirm" *ngIf="sendingSkipRound">
    <button (click)="doSkipRound()" [disabled]="skipTimeout > 0 || throttled " type="button"
      class="btn actions__skip__confirm-btn actions__skip__confirm-btn--do">
      {{msg}} <span *ngIf="skipTimeout > 0">( {{skipTimeout}} s. )</span>
    </button>
    <button (click)="toggleSkipRound()" type="button" class="btn actions__skip__confirm-btn skip__confirm-btn--cancel">
      Cancel
    </button>
  </div>
</div>

<div *ngIf="(showSend$ | async)" class="actions__send">
  <button (click)="toggleSendGuess()" [disabled]="throttled" type="button" *ngIf="!sendingFinalGuess"
    class="btn actions__send-btn">
    Send Guess
  </button>
  <div class="actions__send__confirm" *ngIf="sendingFinalGuess">
    <button (click)="doSendGuess()" [disabled]="sendTimeout > 0 || throttled " type="button"
      class="btn  actions__send__confirm-btn send__confirm-btn--do">
      Send <span *ngIf="sendTimeout > 0">( {{sendTimeout}} s. )</span>
    </button>
    <button (click)="toggleSendGuess()" type="button"
      class="btn actions__send__confirm-btn actions__send__confirm-btn--cancel">
      Cancel
    </button>
  </div>
</div>